@font-face {
  font-family: 'restosearch';
  src:  url('assets/fonts/restosearch.eot?eicgdw');
  src:  url('assets/fonts/restosearch.eot?eicgdw#iefix') format('embedded-opentype'),
  url('assets/fonts/restosearch.ttf?eicgdw') format('truetype'),
  url('assets/fonts/restosearch.woff?eicgdw') format('woff'),
  url('assets/fonts/restosearch.svg?eicgdw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'restosearch' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wine-menu:before {
  content: "\e900";
}
.icon-wine:before {
  content: "\e901";
}
.icon-vegetarian-food:before {
  content: "\e902";
}
.icon-vegan:before {
  content: "\e903";
}
.icon-toast:before {
  content: "\e904";
}
.icon-terrace:before {
  content: "\e905";
}
.icon-tea:before {
  content: "\e906";
}
.icon-take-away:before {
  content: "\e907";
}
.icon-sushi:before {
  content: "\e908";
}
.icon-steak:before {
  content: "\e909";
}
.icon-spicy-food:before {
  content: "\e90a";
}
.icon-spatula-1:before {
  content: "\e90b";
}
.icon-spatula:before {
  content: "\e90c";
}
.icon-smartphone:before {
  content: "\e90d";
}
.icon-shaker:before {
  content: "\e90e";
}
.icon-scooter:before {
  content: "\e90f";
}
.icon-sausages-1:before {
  content: "\e910";
}
.icon-salver:before {
  content: "\e911";
}
.icon-salmon:before {
  content: "\e912";
}
.icon-restaurant-card:before {
  content: "\e913";
}
.icon-restaurant:before {
  content: "\e914";
}
.icon-reserved:before {
  content: "\e915";
}
.icon-placeholder:before {
  content: "\e916";
}
.icon-pizza:before {
  content: "\e917";
}
.icon-pasta:before {
  content: "\e918";
}
.icon-padnote:before {
  content: "\e919";
}
.icon-open:before {
  content: "\e91a";
}
.icon-noodles:before {
  content: "\e91b";
}
.icon-menu-1:before {
  content: "\e91c";
}
.icon-menu:before {
  content: "\e91d";
}
.icon-knife:before {
  content: "\e91e";
}
.icon-invoice:before {
  content: "\e91f";
}
.icon-ice-cream:before {
  content: "\e920";
}
.icon-hot-pepper:before {
  content: "\e921";
}
.icon-hamburger:before {
  content: "\e922";
}
.icon-fruit:before {
  content: "\e923";
}
.icon-fish:before {
  content: "\e924";
}
.icon-fast-food:before {
  content: "\e925";
}
.icon-dish:before {
  content: "\e926";
}
.icon-discount:before {
  content: "\e927";
}
.icon-dinner:before {
  content: "\e928";
}
.icon-delivery:before {
  content: "\e929";
}
.icon-daily-specials-board:before {
  content: "\e92a";
}
.icon-cutlery-1:before {
  content: "\e92b";
}
.icon-cutlery:before {
  content: "\e92c";
}
.icon-cupcake:before {
  content: "\e92d";
}
.icon-credit-card:before {
  content: "\e92e";
}
.icon-corkscrew:before {
  content: "\e92f";
}
.icon-cookbook:before {
  content: "\e930";
}
.icon-coffee-cup:before {
  content: "\e931";
}
.icon-cocktail:before {
  content: "\e932";
}
.icon-closed:before {
  content: "\e933";
}
.icon-clipboard:before {
  content: "\e934";
}
.icon-chicken:before {
  content: "\e935";
}
.icon-chef-hat:before {
  content: "\e936";
}
.icon-champagne:before {
  content: "\e937";
}
.icon-carrot:before {
  content: "\e938";
}
.icon-candles:before {
  content: "\e939";
}
.icon-cake-1:before {
  content: "\e93a";
}
.icon-cake:before {
  content: "\e93b";
}
.icon-browser:before {
  content: "\e93c";
}
.icon-breakfast:before {
  content: "\e93d";
}
.icon-bell:before {
  content: "\e93e";
}
.icon-beer:before {
  content: "\e93f";
}
.icon-bar:before {
  content: "\e940";
}